
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.row {
    background-color: black;
}
.card {
    border-color: gray;
    color:white;
    background-color: black;
    width: 100px;
    height :150px;
    
    padding: 10px;
    margin: 15px
}
.card-title {
    font-size: 90px;
}